@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

:root{
  --transparent-black: rgba(0, 0, 0, 0.09);
  --dark-transparent-black: rgba(0, 0, 0, 0.3);
  --main-ud-padding: 5px;
  --main-lr-padding: 10px;
  --main-ud-margin: 5px;
  --main-lr-margin: 10px;

  --light-grey: #f3f3f3;
  --grey: #5f6368;
  --dark-grey: #504949;
  --blue: #5061ff;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', Fallback, sans-serif;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px var(--transparent-black);
  padding: var(--main-ud-padding) var(--main-lr-padding);
  user-select: none;
}

header #logo{
  font-size: 40px;
  font-weight: 100;
}

header #navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-right: var(--main-lr-padding);
  margin-left: auto;
}

header #navbar-container #navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header #navbar-container #navbar .link{
  font-weight: 600;
  padding: var(--main-ud-padding) var(--main-lr-padding);
  background-color: white;
  transition: background-color 0.3s;
}

header #navbar-container #navbar .link:hover{
  background-color: var(--light-grey);
}

main{
  padding: 50px;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wraping-containers{
  width: fit-content;
}

.wraping-containers:first-child{
  border-top: 1px solid var(--dark-transparent-black);
}

.wraping-container{
  background-color: white;
  padding: var(--main-ud-padding) var(--main-lr-padding);
  width: 700px;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid var(--dark-transparent-black);
  color: var(--grey);
  transition: border 0.2s ease;
}

.wraping-container:hover{
  border-bottom: 1px solid black;
  box-shadow: 0 0 8px var(--transparent-black);
}

.wraping-container .wc-title{
  background-color: white;
  padding: var(--main-ud-padding) var(--main-lr-padding);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.wraping-container .wc-content{
  max-height: 0;
  padding: var(--main-ud-padding) var(--main-lr-padding);
  overflow: hidden;
  background-color: white;
  padding: 0 var(--main-lr-padding);
  transition: max-height 0.2s ease-out;
}

.wc-title:active ~ .wc-content {
  display: block;
}


.wraping-container .wc-title .arrow{
  float: right;
  font-size: 40px;
  align-self: end;
  margin-right: 0;
  margin-left: auto;
  box-shadow: 0;
  transition: 0.2s ease;
}

.active, .active:hover{
  border-bottom: 2px solid black;
}

.active .wc-title{
  color: black;
}

.active .wc-title .arrow{
  transform: rotate(-180deg);
}

select {
  height: 50px;
  font-size: 100%;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0;
  background-color: #FFFFFF;
  padding: 10px;
  padding: 10px;
  box-shadow: 0 0 8px var(--transparent-black);
  transition: 0.3s;
}

select:hover,
select:focus {
  box-shadow: 0 0 8px var(--transparent-black);
}

select option {
  background-color: white;
  outline: none;
}

button, textarea, select {
  border: 0;
  outline: none;
  padding: 10px;
}

.button-with-icon {
  background-color: var(--blue);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  min-width: auto;
  height: 40px;
  filter: brightness(1);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  transition: 0.3s;
}

.button-with-icon-icon {
  display: block;
}

button:hover .button-with-icon-text {
  opacity: 1;
  position: relative;
  transform: translate(0, 0);
  transition: 0.3s;
}


.button-with-icon-text {
  transform: translate(200%, 0);
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

button {
  background-color: var(--blue);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  min-width: 100px;
  height: 40px;
  filter: brightness(1);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}


button:hover {
  filter: brightness(0.9);  
}

button:active {
  transform: scale(0.8);
  box-shadow: 0;
}

textarea {
  box-shadow: 0 0 8px var(--transparent-black); 
  font-size: 20px;
  transition: 0.3s;
}

textarea:focus {
  box-shadow: 0 0px 16px var(--transparent-black); 
}

button-icon {
  font-size: 20px;
}

input {
  border-radius: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0 0px 8px var(--transparent-black); 
}

blue {
  color: var(--blue);
}
